#DATABASE
MONGO_URI=mongodb://user:passowrd@mongodb:27017
MONGO_INITDB_DATABASE=database
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=passowrd
#CONST
BCRYPT_SALT=10
JWT_SECRET="qwertyuiop"

#server
PUBLIC_URL=api

# NotchPay APIs
NOTCHPAY_PK=pk_...
NOTCHPAY_SK=sk_...

# Meta Cloud API 
META_MESSAGING_API_BASE_URL=https://graph.facebook.com/v20.0/<PHONE_NUMBER_ID>
META_MESSAGING_API_ACCESS_TOKEN=PpxcsBW...FaUCHS

# Goeapify keys (geoapify.com)
GEOAPIFY_KEY=hex-econded

#admin
ADMIN_EMAIL=admin@example.com
ADMIN_PHONE_NUMBER=237644444444
ADMIN_PASSWORD=admin-password